#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding-left: 0px;
  padding-top: 10px;
  text-align: center;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
#thumbImages
{
	height: 67.031px;
	text-align: center;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #204cc5;
  color: white;
  text-align: center;
}

.remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
#thumbImages{
	width: 50px;
	text-align: center;
	padding-left: 0px;
 }
 
 .SaveButton {
    border: 0;
    padding: 4px 8px;
    background-color: #12b007;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
	margin-top: 7px;
  }
  
#checkout
{
	margin-left: 1799px;
    border-top-width: 2px;
    padding-top: 1px;
	border: 0;
    padding: 4px 8px;
    background-color: #12b007;
    color: #fff;
    font-family: $font-bold;
    font-size: 20px;
    border-radius: 3px;
}

#checkout-link
{
	text-decoration: none;
	color: white;
}
  