/* DropDown menu styling (C.McGr)*/

/*
	styling for dropdown button
*/
.dropbtn {
  background-color: white;
  margin-top: 3px;
  color: black;
  font-size: 20px;
  border: none;
}
/*
	position means the element is positioned relative to its normal position
*/
.dropdown {
  position: relative;
  display: inline-block;
}

/*
	Styling for dropdown bar -
	display is none which means it accepts no elements in between the text, position is absoloute
	which means the element is positions absoloutly to its parent, minimum width of text allowed,
	a box shadow for styling and z-index set to 1 means it will be displayed above everything else
*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*the dropdown links are black, have padding styling and have no text decoration and is displayed
as block format - with whitesapec above and below it and no html element next to it*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*when you hover over one of the links within browse, the color changes to blue*/
.dropdown-content a:hover {background-color: #ddd;}

/* Displays the dropdown menu content in block - with whitesapec above and below it and no html element next to it*/
.dropdown:hover .dropdown-content {display: block;}

/* when you hove over the browse button it changes color to a dark red */
.dropdown:hover .dropbtn {color: #ba2525;}
/* End of DropDown Styling */
