/*Creates a bottom red line underneth the navigation bar*/
#Header
{
	border-bottom: 7px solid #ba2525;
	height: 81px;
	margin-top: 5px;
}

/* Styling for the drop down Browse button on the navigation bar */
#buttonDropDownMenu
{
	padding-top: -;
	padding-bottom: -;
	padding-top: 5px;
	padding-bottom: 5‒;
	height: 40px;
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 0px;
	padding-bottom: 5px;
	margin-right: 8px;"
}

/* Styling for the Cart image on the navigation bar making it 40 pixels wide and creating a small space from the top */
#cart
{
	width: 40px;
	padding-top: 10px;
}

/* Styling for the logout button on the navigation bar which only appears once logged in*/
#appendedButton
{
	background-color: white;
	border: none;
	color: #ba2525;
	padding: 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	margin: 4px 2px;
	font: ariel;
	margin-left: 12px;
}

/* Styling for the welcome message on the navigation bar which only appears once logged in*/
#welcomeMessage
{
	padding-top: 7px;
}

a:hover
{
	color: #ba2525;
}

#loginPage
{
	text-align: center;
	zoom: 95%;
}

input[type="text"]::placeholder {  
	text-align: center; 
} 
			
input[type="password"]::placeholder {            
	text-align: center; 
} 

#loginButton{
    border: 0;
    padding: 16px 24px;
    background-color: #12b007;
    color: #fff;
    font-family: $font-bold;
    font-size: 24px;
    border-radius: 10px;
	margin-bottom: 10px;
  }
  
 #ForgetButton{
	border: 0;
    padding: 8px 12px;
    background-color: #ba2525;
    color: #fff;
    font-family: $font-bold;
    font-size: 16px;
    border-radius: 10px;
  }
