/*Start of grid styling (C.McGr)*/

/* 	Styling for grid - displays a grid, creates 5 columns covering 20% each, creates a grid gap of 5px and
	includes padding for styling*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 5px;
  padding: 25px 20px 25px 20px;
}

/* 	Styling for columns - aligns text to center, creates a box shadow effect, sets a max width,
	automatically defines margin and uses and font: arial*/
.column
{
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	font-family: arial;
}

/* 	Image styling - sets a limit to width and height and aligns text to center */
.image
{
	width: 200px;
	height: 266.06px;
	text-align: center;
}

/* Price styling */
.price {
  color: grey;
  font-size: 22px;
}

/* Styling for add to cart button - no border, no outline of border, cursor changes when over the button. */
.column button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* Adds a glow effect when hovering over add to cart button */
.column button:hover {
  opacity: 0.7;
}

/*End of grid styling (C.McGr)*/
