.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 5px;
  padding: 25px 20px 25px 20px;
}

.column
{
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	font-family: arial;
}

.image
{
	opacity: 1;
	width: 200px;
	height: 266.06px;
	text-align: center;
	border-style: solid;
	border-color: #ba2525;
	backface-visibility: hidden;
}



.price {
  color: grey;
  font-size: 22px;
}

.column button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.column button:hover {
  opacity: 0.7;
}
