.grid {
  display: grid;
  grid-template-columns: repeat(5, 17%);
  grid-column-gap: 5px;
  padding: 25px 20px 25px 20px;
}

.column
{
	text-align: center;
}

.image
{
	opacity: 1;
	width: 200px;
	height: 266.06px;
	text-align: center;
	border-style: solid;
	border-color: #ba2525;
	backface-visibility: hidden;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}
